:root {
  --fads-ref-neutral-25: #fcfcfd;
  --fads-ref-neutral-50: #f9fafb;
  --fads-ref-neutral-100: #f3f4f6;
  --fads-ref-neutral-200: #e5e7eb;
  --fads-ref-neutral-300: #d2d6db;
  --fads-ref-neutral-400: #9da4ae;
  --fads-ref-neutral-500: #6c737f;
  --fads-ref-neutral-600: #4d5761;
  --fads-ref-neutral-700: #384250;
  --fads-ref-neutral-800: #1f2a37;
  --fads-ref-neutral-900: #111927;
  --fads-ref-neutral-950: #0d121c;
  --fads-ref-primary-25: #f7fdf9;
  --fads-ref-primary-50: #f3fcf6;
  --fads-ref-primary-100: #dff6e7;
  --fads-ref-primary-200: #b8eacb;
  --fads-ref-primary-300: #88d8ad;
  --fads-ref-primary-400: #54c08a;
  --fads-ref-primary-500: #25935f;
  --fads-ref-primary-600: #1b8354;
  --fads-ref-primary-700: #166a45;
  --fads-ref-primary-800: #14573a;
  --fads-ref-primary-900: #104631;
  --fads-ref-primary-950: #092a1e;
  --fads-ref-success-500: #17b26a;
  --fads-ref-error-500: #f04438;
  --fads-ref-warning-500: #f79009;
  --fads-ref-information-500: #2e90fa;
  --fads-sys-button-primary-bg-default: #1b8354;
  --fads-sys-button-primary-bg-hover: #166a45;
  --fads-sys-button-primary-bg-pressed: #104631;
  --fads-sys-button-primary-bg-selected: #14573a;
  --fads-sys-button-primary-bg-focused: #1b8354;
  --fads-sys-button-neutral-bg-default: #0d121c;
  --fads-sys-button-neutral-bg-hover: #1f2a37;
  --fads-sys-button-neutral-bg-pressed: #4d5761;
  --fads-sys-button-neutral-bg-selected: #384250;
  --fads-sys-button-neutral-bg-focused: #0d121c;
  --fads-sys-button-secondary-solid-bg-default: #f3f4f6;
  --fads-sys-button-secondary-solid-bg-hover: #f3f4f6;
  --fads-sys-button-secondary-solid-bg-pressed: #e5e7eb;
  --fads-sys-button-secondary-solid-bg-selected: #e5e7eb;
  --fads-sys-button-secondary-solid-bg-focused: #f3f4f6;
  --fads-sys-button-danger-bg-default: #d92d20;
  --fads-sys-button-danger-bg-hover: #b42318;
  --fads-sys-button-danger-bg-pressed: #7a271a;
  --fads-sys-button-danger-bg-selected: #912018;
  --fads-sys-button-danger-bg-focused: #d92d20;
  --fads-sys-button-oncolor-bg-default: #ffffff;
  --fads-sys-button-oncolor-bg-hover: rgba(255, 255, 255, 0.8);
  --fads-sys-button-oncolor-bg-pressed: rgba(255, 255, 255, 0.6);
  --fads-sys-button-oncolor-bg-selected: rgba(255, 255, 255, 0.7);
  --fads-sys-button-oncolor-bg-focused: #ffffff;
  --fads-sys-button-label-oncolor: #ffffff;
  --fads-sys-button-label-default: #161616;
  --fads-sys-button-border-neutral: #d2d6db;
  --fads-sys-button-focus-ring-inner: #161616;
  --fads-sys-button-focus-ring-outer: #ffffff;
  --fads-sys-button-disabled-bg: #e5e7eb;
  --fads-sys-button-disabled-label: #9da4ae;
  --fads-sys-button-subtle-bg-hover: var(--fads-ref-neutral-100);
  --fads-sys-button-subtle-bg-pressed: var(--fads-ref-neutral-200);
  --fads-sys-button-height-sm: 24px;
  --fads-sys-button-padding-inline-sm: 8px;
  --fads-sys-button-gap-sm: 4px;
  --fads-sys-button-icon-size-sm: 16px;
  --fads-sys-button-height-md: 32px;
  --fads-sys-button-padding-inline-md: 12px;
  --fads-sys-button-gap-md: 4px;
  --fads-sys-button-icon-size-md: 20px;
  --fads-sys-button-height-lg: 40px;
  --fads-sys-button-padding-inline-lg: 16px;
  --fads-sys-button-gap-lg: 4px;
  --fads-sys-button-icon-size-lg: 24px;
  --fads-sys-typography-line-height-2xs: 14px;
  --fads-sys-typography-line-height-xs: 18px;
  --fads-sys-typography-line-height-sm: 20px;
  --fads-sys-typography-line-height-md: 24px;
  --fads-sys-typography-line-height-lg: 28px;
  --fads-sys-card-bg: #ffffff;
  --fads-sys-card-bg-hover: #f9fafb;
  --fads-sys-card-bg-focused: #f9fafb;
  --fads-sys-card-bg-disabled: #e5e7eb;
  --fads-sys-card-text: #1f2a37;
  --fads-sys-card-text-disabled: #9da4ae;
  --fads-sys-card-border-stroke: #d2d6db;
  --fads-sys-card-border-focus: #161616;
  --fads-sys-card-gap: 24px;
  --fads-sys-card-shadow: 0 2px 4px -2px rgba(16, 24, 40, 0.06), 0 4px 8px -2px rgba(16, 24, 40, 0.1);
  --fads-sys-header-bg: #ffffff;
  --fads-sys-header-item-text: #161616;
  --fads-sys-header-item-bg-hover: #f3f4f6;
  --fads-sys-header-item-bg-pressed: #e5e7eb;
  --fads-sys-header-item-border-focus: #161616;
  --fads-sys-header-item-text-disabled: #9da4ae;
  --fads-sys-header-item-bg-disabled: #e5e7eb;
  --fads-sys-header-selected-bg: #1b8354;
  --fads-sys-header-selected-bg-hover: #166a45;
  --fads-sys-header-selected-bg-pressed: #104631;
  --fads-sys-header-selected-text: #ffffff;
  --fads-sys-header-indicator: #54c08a;
  --fads-sys-header-logo-label-text: #6c737f;
  --fads-sys-header-height: 72px;
  --fads-sys-header-padding-inline: 32px;
  --fads-sys-header-padding-inline-compact: 16px;
  --fads-sys-header-group-gap: 16px;
  --fads-sys-header-item-padding-inline: 16px;
  --fads-sys-header-item-padding-block: 8px;
  --fads-sys-header-item-gap: 4px;
  --fads-sys-header-item-radius: 4px;
  --fads-sys-header-logo-gap: 8px;
  --fads-sys-header-logo-icon-size: 48px;
  --fads-sys-header-toggle-size: 40px;
  --fads-sys-header-icon-size: 24px;
  --fads-sys-header-chevron-size: 20px;
  --fads-sys-header-indicator-height: 6px;
  --fads-sys-footer-bg: #f3f4f6;
  --fads-sys-footer-group-label-text: #161616;
  --fads-sys-footer-group-label-border: #d2d6db;
  --fads-sys-footer-link-text: #384250;
  --fads-sys-footer-legal-text: #161616;
  --fads-sys-footer-logo-label-text: #6c737f;
  --fads-sys-footer-bg-oncolor: #074d31;
  --fads-sys-footer-text-oncolor: #ffffff;
  --fads-sys-footer-link-oncolor: #ffffff;
  --fads-sys-footer-border-oncolor: rgba(255, 255, 255, 0.3);
  --fads-sys-footer-padding-inline: 32px;
  --fads-sys-footer-max-width: 1280px;
  --fads-sys-footer-region-gap: 48px;
  --fads-sys-footer-content-padding-block-start: 40px;
  --fads-sys-footer-content-padding-block-end: 24px;
  --fads-sys-footer-groups-gap: 24px;
  --fads-sys-footer-group-gap: 8px;
  --fads-sys-footer-group-min-width: 180px;
  --fads-sys-footer-legal-gap: 40px;
  --fads-sys-footer-links-gap: 16px;
  --fads-sys-footer-legal-padding-block: 16px;
  --fads-sys-footer-logos-opacity: 0.7;
  --fads-sys-divider-color-neutral: #d2d6db;
  --fads-sys-divider-color-primary: #1b8354;
  --fads-sys-divider-color-white: #ffffff;
  --fads-sys-divider-color-alpha-white: rgba(255, 255, 255, 0.3);
  --fads-sys-divider-thickness: 1px;
  --fads-sys-link-primary: #1b8354;
  --fads-sys-link-primary-hovered: #54c08a;
  --fads-sys-link-primary-pressed: #88d8ad;
  --fads-sys-link-primary-focused: #1b8354;
  --fads-sys-link-primary-visited: #14573a;
  --fads-sys-link-neutral: #384250;
  --fads-sys-link-neutral-hovered: #6c737f;
  --fads-sys-link-neutral-pressed: #9da4ae;
  --fads-sys-link-neutral-focused: #384250;
  --fads-sys-link-neutral-visited: #14573a;
  --fads-sys-link-disabled: #9da4ae;
  --fads-sys-link-oncolor: #ffffff;
  --fads-sys-link-oncolor-hovered: rgba(255, 255, 255, 0.8);
  --fads-sys-link-oncolor-pressed: rgba(255, 255, 255, 0.6);
  --fads-sys-link-oncolor-focused: #ffffff;
  --fads-sys-link-oncolor-visited: rgba(255, 255, 255, 0.9);
  --fads-sys-link-oncolor-disabled: rgba(255, 255, 255, 0.3);
  --fads-sys-link-focus-border-color: #161616;
  --fads-sys-link-focus-border-color-oncolor: #ffffff;
  --fads-sys-link-focus-border-width: 2px;
  --fads-sys-link-gap-sm: 4px;
  --fads-sys-link-gap-md: 8px;
  --fads-sys-link-icon-size-sm: 16px;
  --fads-sys-link-icon-size-md: 20px;
  --fads-sys-tag-neutral-bg: #f9fafb;
  --fads-sys-tag-neutral-border-light: #e5e7eb;
  --fads-sys-tag-neutral-border: #4d5761;
  --fads-sys-tag-neutral-text: #1f2a37;
  --fads-sys-tag-neutral-icon: #161616;
  --fads-sys-tag-success-bg: #ecfdf3;
  --fads-sys-tag-success-border-light: #abefc6;
  --fads-sys-tag-success-border: #067647;
  --fads-sys-tag-success-text: #085d3a;
  --fads-sys-tag-success-icon: #085d3a;
  --fads-sys-tag-error-bg: #fef3f2;
  --fads-sys-tag-error-border-light: #fecdca;
  --fads-sys-tag-error-border: #b42318;
  --fads-sys-tag-error-text: #912018;
  --fads-sys-tag-error-icon: #912018;
  --fads-sys-tag-warning-bg: #fffaeb;
  --fads-sys-tag-warning-border-light: #fedf89;
  --fads-sys-tag-warning-border: #b54708;
  --fads-sys-tag-warning-text: #93370d;
  --fads-sys-tag-warning-icon: #93370d;
  --fads-sys-tag-information-bg: #eff8ff;
  --fads-sys-tag-information-border-light: #b2ddff;
  --fads-sys-tag-information-border: #175cd3;
  --fads-sys-tag-information-text: #1849a9;
  --fads-sys-tag-information-icon: #1849a9;
  --fads-sys-tag-oncolor-bg: rgba(255, 255, 255, 0.2);
  --fads-sys-tag-oncolor-border: rgba(255, 255, 255, 0.6);
  --fads-sys-tag-oncolor-text: #ffffff;
  --fads-sys-tag-oncolor-icon: #ffffff;
  --fads-sys-tag-height-xs: 20px;
  --fads-sys-tag-height-sm: 24px;
  --fads-sys-tag-height-md: 32px;
  --fads-sys-tag-padding-inline-xs: 8px;
  --fads-sys-tag-padding-inline-sm: 8px;
  --fads-sys-tag-padding-inline-md: 12px;
  --fads-sys-tag-gap: 4px;
  --fads-sys-tag-icon-size-xs: 10px;
  --fads-sys-tag-icon-size-sm: 14px;
  --fads-sys-tag-icon-size-md: 18px;
  --fads-sys-tag-icon-only-padding: 2px;
  --fads-sys-textinput-label-text: #161616;
  --fads-sys-textinput-label-disabled: #9da4ae;
  --fads-sys-textinput-required-color: #b42318;
  --fads-sys-textinput-bg-default: #ffffff;
  --fads-sys-textinput-bg-darker: #f3f4f6;
  --fads-sys-textinput-bg-lighter: #fcfcfd;
  --fads-sys-textinput-border-default: #9da4ae;
  --fads-sys-textinput-border-hovered: #384250;
  --fads-sys-textinput-border-pressed: #0d121c;
  --fads-sys-textinput-border-error: #b42318;
  --fads-sys-textinput-border-readonly: #d2d6db;
  --fads-sys-textinput-border-disabled: #d2d6db;
  --fads-sys-textinput-text-filled: #161616;
  --fads-sys-textinput-text-hovered: #161616;
  --fads-sys-textinput-text-pressed: #384250;
  --fads-sys-textinput-text-focused: #384250;
  --fads-sys-textinput-text-readonly: #161616;
  --fads-sys-textinput-text-disabled: #9da4ae;
  --fads-sys-textinput-text-placeholder: #6c737f;
  --fads-sys-textinput-affix-bg: #f3f4f6;
  --fads-sys-textinput-affix-bg-disabled: #e5e7eb;
  --fads-sys-textinput-affix-text: #6c737f;
  --fads-sys-textinput-helper-text: #384250;
  --fads-sys-textinput-helper-error: #b42318;
  --fads-sys-textinput-focus-shadow: 0 2px 4px rgba(16, 24, 40, 0.06), 0 4px 8px rgba(16, 24, 40, 0.1);
  --fads-sys-textinput-height-lg: 40px;
  --fads-sys-textinput-height-md: 32px;
  --fads-sys-textinput-affix-padding-lg: 16px;
  --fads-sys-textinput-affix-padding-md: 12px;
  --fads-sys-textinput-content-padding-start: 8px;
  --fads-sys-textinput-content-padding-end: 16px;
  --fads-sys-textinput-icon-gap: 8px;
  --fads-sys-textinput-label-gap: 8px;
  --fads-sys-textinput-label-asterisk-gap: 4px;
  --fads-sys-textinput-helper-gap: 8px;
  --fads-sys-textinput-helper-padding-block: 4px;
  --fads-sys-textinput-icon-size: 20px;
  --fads-sys-textinput-feedback-icon-size: 16px;
  --fads-sys-textinput-underline-height: 2px;
  --fads-sys-breadcrumb-text-current: #9da4ae;
  --fads-sys-breadcrumb-separator-color: #384250;
  --fads-sys-breadcrumb-ellipsis-text: #384250;
  --fads-sys-breadcrumb-item-gap: 4px;
  --fads-sys-checkbox-size-md: 24px;
  --fads-sys-checkbox-size-sm: 20px;
  --fads-sys-checkbox-size-xs: 16px;
  --fads-sys-checkbox-radius: 2px;
  --fads-sys-checkbox-border-default: #6c737f;
  --fads-sys-checkbox-border-readonly: #9da4ae;
  --fads-sys-checkbox-bg-pressed-unchecked: #d2d6db;
  --fads-sys-checkbox-bg-disabled: #e5e7eb;
  --fads-sys-checkbox-ripple: #f3f4f6;
  --fads-sys-checkbox-icon-oncolor: #ffffff;
  --fads-sys-checkbox-icon-readonly: #6c737f;
  --fads-sys-checkbox-focus-ring: #161616;
  --fads-sys-checkbox-primary-checked: #1b8354;
  --fads-sys-checkbox-primary-hovered: #14573a;
  --fads-sys-checkbox-primary-pressed: #104631;
  --fads-sys-checkbox-primary-focused: #1b8354;
  --fads-sys-checkbox-neutral-checked: #0d121c;
  --fads-sys-checkbox-neutral-hovered: #4d5761;
  --fads-sys-checkbox-neutral-pressed: #6c737f;
  --fads-sys-checkbox-neutral-focused: #0d121c;
  --fads-sys-radio-hit-size: 32px;
  --fads-sys-radio-size: 24px;
  --fads-sys-radio-border-default: #6c737f;
  --fads-sys-radio-border-readonly: #9da4ae;
  --fads-sys-radio-bg-pressed-unchecked: #d2d6db;
  --fads-sys-radio-bg-disabled: #9da4ae;
  --fads-sys-radio-ripple: #f3f4f6;
  --fads-sys-radio-focus-ring: #161616;
  --fads-sys-radio-primary-checked: #1b8354;
  --fads-sys-radio-primary-hovered: #14573a;
  --fads-sys-radio-primary-pressed: #104631;
  --fads-sys-radio-primary-focused: #1b8354;
  --fads-sys-radio-neutral-checked: #0d121c;
  --fads-sys-radio-neutral-hovered: #4d5761;
  --fads-sys-radio-neutral-pressed: #6c737f;
  --fads-sys-radio-neutral-focused: #0d121c;
  --fads-sys-radio-label-text: #1f2a37;
  --fads-sys-radio-description-text: #384250;
  --fads-sys-radio-error-text: #b42318;
  --fads-sys-radio-error-gap: 16px;
  --fads-sys-switch-track-inline: 48px;
  --fads-sys-switch-track-block: 24px;
  --fads-sys-switch-thumb-size: 16px;
  --fads-sys-switch-thumb-inset: 4px;
  --fads-sys-switch-border-default: #6c737f;
  --fads-sys-switch-border-hovered: #4d5761;
  --fads-sys-switch-border-pressed: #6c737f;
  --fads-sys-switch-focus-ring-off: #0d121c;
  --fads-sys-switch-focus-ring-on: #161616;
  --fads-sys-switch-focus-ring-radius: 2px;
  --fads-sys-switch-border-disabled: #9da4ae;
  --fads-sys-switch-bg-checked: #1b8354;
  --fads-sys-switch-bg-checked-hovered: #14573a;
  --fads-sys-switch-bg-checked-pressed: #104631;
  --fads-sys-switch-bg-checked-disabled: #9da4ae;
  --fads-sys-switch-ripple: #f3f4f6;
  --fads-sys-switch-thumb-bg: #ffffff;
  --fads-sys-switch-thumb-shadow: 0 1px 2px rgba(16, 24, 40, 0.05), 0 1px 3px rgba(16, 24, 40, 0.05);
  --fads-sys-switch-label-text: #1f2a37;
  --fads-sys-switch-description-text: #384250;
  --fads-sys-switch-error-text: #b42318;
  --fads-sys-switch-error-gap: 16px;
  --fads-sys-inputaffix-icon-default: #161616;
  --fads-sys-inputaffix-icon-oncolor: #ffffff;
  --fads-sys-inputaffix-icon-disabled: #9da4ae;
  --fads-sys-inputaffix-bg-solid-default: #f3f4f6;
  --fads-sys-inputaffix-bg-solid-hovered: #f3f4f6;
  --fads-sys-inputaffix-bg-solid-pressed: #e5e7eb;
  --fads-sys-inputaffix-bg-selected: #384250;
  --fads-sys-inputaffix-bg-disabled: #e5e7eb;
  --fads-sys-inputaffix-focus-ring: #161616;
  --fads-sys-datepicker-selected-bg: #1b8354;
  --fads-sys-datepicker-selected-text: #ffffff;
  --fads-sys-datepicker-range-bg: #dff6e7;
  --fads-sys-datepicker-popover-radius: 8px;
  --fads-sys-datepicker-popover-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
  --fads-sys-buttonclose-icon-default: #161616;
  --fads-sys-buttonclose-icon-oncolor: #ffffff;
  --fads-sys-buttonclose-bg-hovered: #f3f4f6;
  --fads-sys-buttonclose-bg-pressed: #e5e7eb;
  --fads-sys-buttonclose-bg-oncolor-hovered: rgba(255, 255, 255, 0.2);
  --fads-sys-buttonclose-bg-oncolor-pressed: rgba(255, 255, 255, 0.4);
  --fads-sys-buttonclose-focus-ring: #161616;
  --fads-sys-buttonclose-focus-ring-oncolor: #ffffff;
  --fads-sys-buttonclose-size-xs: 20px;
  --fads-sys-buttonclose-size-sm: 24px;
  --fads-sys-buttonclose-size-md: 32px;
  --fads-sys-buttonclose-size-lg: 40px;
  --fads-sys-buttonclose-icon-size-xs: 16px;
  --fads-sys-buttonclose-icon-size-sm: 20px;
  --fads-sys-buttonclose-icon-size-lg: 24px;
  --fads-sys-floatingbutton-padding-sm: 16px;
  --fads-sys-floatingbutton-padding-lg: 20px;
  --fads-sys-floatingbutton-gap: 8px;
  --fads-sys-trailingicon-hit-padding: 4px;
  --fads-sys-trailingicon-icon-size: 20px;
  --fads-sys-trailingicon-icon-color: #161616;
  --fads-sys-trailingicon-tooltip-gap: 8px;
  --fads-sys-trailingicon-tooltip-min-width: 160px;
  --fads-sys-trailingicon-tooltip-max-width: 240px;
  --fads-sys-trailingicon-tooltip-bg: #ffffff;
  --fads-sys-trailingicon-tooltip-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 16px -4px rgba(16, 24, 40, 0.08);
  --fads-sys-trailingicon-tooltip-padding: 8px;
  --fads-sys-trailingicon-tooltip-text: #1f2a37;
  --fads-sys-trailingicon-tooltip-font-size: 12px;
  --fads-sys-trailingicon-tooltip-line-height: 18px;
  --fads-sys-dropdownlistitem-text: #161616;
  --fads-sys-dropdownlistitem-text-disabled: #9da4ae;
  --fads-sys-dropdownlistitem-group-text: #384250;
  --fads-sys-dropdownlistitem-icon-default: #161616;
  --fads-sys-dropdownlistitem-bg-hover: #f3f4f6;
  --fads-sys-dropdownlistitem-bg-pressed: #e5e7eb;
  --fads-sys-dropdownlistitem-focus-border: #161616;
  --fads-sys-dropdownlistitem-checkbox-border: #6c737f;
  --fads-sys-dropdownlistitem-divider: #d2d6db;
  --fads-sys-dropdownlistitem-padding: 8px;
  --fads-sys-searchbox-helper-icon-size: 16px;
  --fads-sys-contentswitcher-height-sm: 32px;
  --fads-sys-contentswitcher-height-md: 40px;
  --fads-sys-contentswitcher-height-lg: 48px;
  --fads-sys-contentswitcher-min-width: 76px;
  --fads-sys-contentswitcher-bg-oncolor-default: rgba(255, 255, 255, 0.2);
  --fads-sys-contentswitcher-border-oncolor: rgba(255, 255, 255, 0.1);
  --fads-sys-contentswitcher-text-size-lg: 20px;
  --fads-sys-contentswitcher-line-height-lg: 30px;
  --fads-sys-menu-bg: #ffffff;
  --fads-sys-menu-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
  --fads-sys-menu-width: 241px;
  --fads-sys-menu-section-border: #cbd5e1;
  --fads-sys-menu-section-gap: 12px;
  --fads-sys-menu-group-label-text: #1f2a37;
  --fads-sys-menulistitem-bg-selected: #f3fcf6;
  --fads-sys-menulistitem-text: #161616;
  --fads-sys-menulistitem-text-selected: #1b8354;
  --fads-sys-menulistitem-text-disabled: #9da4ae;
  --fads-sys-menulistitem-text-secondary: #6c737f;
  --fads-sys-menulistitem-icon-disabled: #9da4ae;
  --fads-sys-menulistitem-focus-border: #161616;
  --fads-sys-rating-star-empty: #e5e7eb;
  --fads-sys-rating-star-filled: #dba102;
  --fads-sys-rating-star-filled-brand: #1b8354;
  --fads-sys-rating-hover-bg: #f3f4f6;
  --fads-sys-rating-star-size-sm: 24px;
  --fads-sys-rating-star-size-md: 32px;
  --fads-sys-rating-star-size-lg: 48px;
  --fads-sys-textarea-bg-default: #ffffff;
  --fads-sys-textarea-bg-darker: #f3f4f6;
  --fads-sys-textarea-bg-lighter: #fcfcfd;
  --fads-sys-textarea-border-default: #9da4ae;
  --fads-sys-textarea-border-hovered: #384250;
  --fads-sys-textarea-border-pressed: #0d121c;
  --fads-sys-textarea-border-error: #b42318;
  --fads-sys-textarea-border-readonly: #d2d6db;
  --fads-sys-textarea-border-disabled: #d2d6db;
  --fads-sys-textarea-text-filled: #161616;
  --fads-sys-textarea-text-hovered: #161616;
  --fads-sys-textarea-text-pressed: #384250;
  --fads-sys-textarea-text-focused: #384250;
  --fads-sys-textarea-text-readonly: #161616;
  --fads-sys-textarea-text-disabled: #9da4ae;
  --fads-sys-textarea-text-placeholder: #6c737f;
  --fads-sys-textarea-helper-text: #384250;
  --fads-sys-textarea-helper-error: #b42318;
  --fads-sys-textarea-scrollbar-track: #f3f4f6;
  --fads-sys-textarea-scrollbar-thumb: #d2d6db;
  --fads-sys-textarea-focus-shadow: 0 2px 4px rgba(16, 24, 40, 0.06), 0 4px 8px rgba(16, 24, 40, 0.1);
  --fads-sys-textarea-underline-height: 2px;
  --fads-sys-textarea-min-height: 96px;
  --fads-sys-textarea-padding-inline: 16px;
  --fads-sys-textarea-padding-block: 12px;
  --fads-sys-textarea-label-gap: 8px;
  --fads-sys-select-height-lg: 40px;
  --fads-sys-select-height-md: 32px;
  --fads-sys-select-bg-default: #ffffff;
  --fads-sys-select-bg-darker: #f3f4f6;
  --fads-sys-select-bg-lighter: #fcfcfd;
  --fads-sys-select-bg-pressed: #f3f4f6;
  --fads-sys-select-border-default: #9da4ae;
  --fads-sys-select-border-hovered: #384250;
  --fads-sys-select-border-error: #b42318;
  --fads-sys-select-border-disabled: #9da4ae;
  --fads-sys-select-text-filled: #161616;
  --fads-sys-select-text-placeholder: #6c737f;
  --fads-sys-select-text-disabled: #9da4ae;
  --fads-sys-select-icon-default: #161616;
  --fads-sys-select-icon-disabled: #9da4ae;
  --fads-sys-select-panel-border: #d2d6db;
  --fads-sys-select-panel-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  --fads-sys-select-helper-text: #384250;
  --fads-sys-select-helper-error: #b42318;
  --fads-sys-select-content-gap: 4px;
  --fads-sys-select-padding-inline: 16px;
  --fads-sys-select-label-gap: 8px;
  --fads-sys-select-panel-padding: 8px;
  --fads-sys-fileupload-dropzone-bg: #f3f4f6;
  --fads-sys-fileupload-border: #d2d6db;
  --fads-sys-fileupload-border-error: #b42318;
  --fads-sys-fileupload-heading-text: #1f2a37;
  --fads-sys-fileupload-caption-text: #384250;
  --fads-sys-fileupload-helper-text: #64748b;
  --fads-sys-fileupload-file-text: #161616;
  --fads-sys-fileupload-error-text: #ce281c;
  --fads-sys-fileupload-success-icon: #067647;
  --fads-sys-fileupload-icon-default: #161616;
  --fads-sys-fileupload-text-disabled: #9da4ae;
  --fads-sys-fileupload-bg-disabled: #e5e7eb;
  --fads-sys-fileupload-content-gap: 8px;
  --fads-sys-fileupload-dropzone-padding: 24px;
  --fads-sys-fileupload-dropzone-gap: 16px;
  --fads-sys-fileupload-file-padding: 8px;
  --fads-sys-fileupload-file-gap: 8px;
  --fads-sys-table-cell-border: #d2d6db;
  --fads-sys-table-text-head: #384250;
  --fads-sys-table-text-body: #161616;
  --fads-sys-table-bg-header: #f3f4f6;
  --fads-sys-table-bg-row-alt: #f9fafb;
  --fads-sys-table-bg-row-hovered: #f3f4f6;
  --fads-sys-table-bg-row-selected: #f3fcf6;
  --fads-sys-table-header-height: 48px;
  --fads-sys-table-row-height-standard: 64px;
  --fads-sys-table-row-height-compact: 32px;
  --fads-sys-table-cell-padding-h: 16px;
  --fads-sys-table-cell-padding-v: 8px;
  --fads-sys-table-head-font-size: 12px;
  --fads-sys-table-head-line-height: 18px;
  --fads-sys-table-select-cell-width: 52px;
  --fads-sys-table-radius-contained: 8px;
  --fads-sys-pagination-text: #161616;
  --fads-sys-pagination-selector-bg: #1b8354;
  --fads-sys-pagination-ellipsis-border: #161616;
  --fads-sys-pagination-radius: 4px;
  --fads-sys-pagination-items-gap: 8px;
  --fads-sys-pagination-item-size-lg: 40px;
  --fads-sys-pagination-item-size-md: 32px;
  --fads-sys-pagination-item-size-sm: 24px;
  --fads-sys-pagination-item-padding-lg: 8px;
  --fads-sys-pagination-item-padding-md: 6px;
  --fads-sys-pagination-item-padding-sm: 4px;
  --fads-sys-pagination-icon-size-lg: 24px;
  --fads-sys-pagination-icon-size-md: 20px;
  --fads-sys-pagination-icon-size-sm: 16px;
  --fads-sys-pagination-selector-width-lg: 24px;
  --fads-sys-pagination-selector-width-md: 24px;
  --fads-sys-pagination-selector-width-sm: 16px;
  --fads-sys-pagination-selector-height: 3px;
  --fads-sys-pagination-text-size-lg: 16px;
  --fads-sys-pagination-text-size-md: 16px;
  --fads-sys-pagination-text-size-sm: 14px;
  --fads-sys-pagination-line-height-lg: 24px;
  --fads-sys-pagination-line-height-md: 24px;
  --fads-sys-pagination-line-height-sm: 20px;
  --fads-sys-alert-bg-white: #ffffff;
  --fads-sys-alert-border-white: #d2d6db;
  --fads-sys-alert-bg-tinted-neutral: #fcfcfd;
  --fads-sys-alert-border-tinted-neutral: #d2d6db;
  --fads-sys-alert-bg-tinted-info: #f5faff;
  --fads-sys-alert-border-tinted-info: #b2ddff;
  --fads-sys-alert-bg-tinted-success: #f6fef9;
  --fads-sys-alert-border-tinted-success: #abefc6;
  --fads-sys-alert-bg-tinted-warning: #fffcf5;
  --fads-sys-alert-border-tinted-warning: #fedf89;
  --fads-sys-alert-bg-tinted-error: #fffbfa;
  --fads-sys-alert-border-tinted-error: #fecdca;
  --fads-sys-alert-title-default: #1f2a37;
  --fads-sys-alert-title-info: #175cd3;
  --fads-sys-alert-title-success: #067647;
  --fads-sys-alert-title-warning: #b54708;
  --fads-sys-alert-title-error: #b42318;
  --fads-sys-alert-description: #384250;
  --fads-sys-alert-icon-bg-neutral: #f9fafb;
  --fads-sys-alert-icon-bg-info: #eff8ff;
  --fads-sys-alert-icon-bg-success: #ecfdf3;
  --fads-sys-alert-icon-bg-warning: #fffaeb;
  --fads-sys-alert-icon-bg-error: #fef3f2;
  --fads-sys-alert-icon-neutral: #161616;
  --fads-sys-alert-icon-info: #175cd3;
  --fads-sys-alert-icon-success: #067647;
  --fads-sys-alert-icon-warning: #b54708;
  --fads-sys-alert-icon-error: #b42318;
  --fads-sys-alert-dismiss-icon: #161616;
  --fads-sys-alert-stripe-neutral: #e5e7eb;
  --fads-sys-alert-stripe-info: #1570ef;
  --fads-sys-alert-stripe-success: #079455;
  --fads-sys-alert-stripe-warning: #dc6803;
  --fads-sys-alert-stripe-error: #d92d20;
  --fads-sys-alert-stripe-thickness: 8px;
  --fads-sys-alert-radius: 8px;
  --fads-sys-alert-radius-sm: 4px;
  --fads-sys-alert-padding-block: 16px;
  --fads-sys-alert-padding-inline: 24px;
  --fads-sys-alert-gap: 16px;
  --fads-sys-alert-header-gap: 12px;
  --fads-sys-alert-icon-circle-size: 40px;
  --fads-sys-alert-text-gap: 8px;
  --fads-sys-alert-title-font-size: 16px;
  --fads-sys-alert-title-line-height: 24px;
  --fads-sys-alert-description-font-size: 14px;
  --fads-sys-alert-description-line-height: 20px;
  --fads-sys-alert-actions-gap: 8px;
  --fads-sys-alert-actions-padding-start: 40px;
  --fads-sys-alert-dismiss-size: 32px;
  --fads-sys-loading-track-neutral: #f3f4f6;
  --fads-sys-loading-indicator-neutral: #161616;
  --fads-sys-loading-track-primary: #f3f4f6;
  --fads-sys-loading-indicator-primary: #1b8354;
  --fads-sys-loading-track-oncolor: rgba(255, 255, 255, 0.3);
  --fads-sys-loading-indicator-oncolor: #ffffff;
  --fads-sys-loading-stroke-width: 3px;
  --fads-sys-loading-size-xxs: 20px;
  --fads-sys-loading-size-xs: 24px;
  --fads-sys-loading-size-sm: 28px;
  --fads-sys-loading-size-md: 32px;
  --fads-sys-loading-size-lg: 36px;
  --fads-sys-loading-size-xl: 40px;
  --fads-sys-loading-size-xxl: 44px;
  --fads-sys-avatar-background-fallback: #f3f4f6;
  --fads-sys-avatar-border-color: #ffffff;
  --fads-sys-avatar-icon-color: #161616;
  --fads-sys-avatar-text-color: #161616;
  --fads-sys-avatar-size-2xl: 80px;
  --fads-sys-avatar-size-3xl: 120px;
  --fads-sys-avatar-border-width: 2px;
  --fads-sys-avatar-font-size-xs: 10px;
  --fads-sys-avatar-line-height-xs: 14px;
  --fads-sys-avatar-font-weight-xs: 700;
  --fads-sys-avatar-font-size-sm: 12px;
  --fads-sys-avatar-line-height-sm: 18px;
  --fads-sys-avatar-font-weight-sm: 600;
  --fads-sys-avatar-font-size-md: 14px;
  --fads-sys-avatar-line-height-md: 20px;
  --fads-sys-avatar-font-weight-md: 600;
  --fads-sys-avatar-font-size-lg: 16px;
  --fads-sys-avatar-line-height-lg: 24px;
  --fads-sys-avatar-font-weight-lg: 500;
  --fads-sys-avatar-font-size-xl: 20px;
  --fads-sys-avatar-line-height-xl: 30px;
  --fads-sys-avatar-font-weight-xl: 500;
  --fads-sys-avatar-font-size-2xl: 30px;
  --fads-sys-avatar-line-height-2xl: 38px;
  --fads-sys-avatar-font-weight-2xl: 400;
  --fads-sys-avatar-font-size-3xl: 36px;
  --fads-sys-avatar-line-height-3xl: 44px;
  --fads-sys-avatar-font-weight-3xl: 400;
  --fads-sys-tooltip-background-light: #ffffff;
  --fads-sys-tooltip-background-dark: #1f2a37;
  --fads-sys-tooltip-text-heading-light: #1f2a37;
  --fads-sys-tooltip-text-heading-dark: #f9fafb;
  --fads-sys-tooltip-text-paragraph-light: #384250;
  --fads-sys-tooltip-text-paragraph-dark: #f3f4f6;
  --fads-sys-tooltip-icon-color-light: #384250;
  --fads-sys-tooltip-icon-color-dark: #ffffff;
  --fads-sys-tooltip-min-width: 160px;
  --fads-sys-tooltip-max-width: 240px;
  --fads-sys-tooltip-beak-size: 8px;
  --fads-sys-tooltip-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 16px -4px rgba(16, 24, 40, 0.08);
  --fads-sys-steps-completed: #1b8354;
  --fads-sys-steps-completed-hovered: #166a45;
  --fads-sys-steps-completed-icon: #ffffff;
  --fads-sys-steps-current: #1b8354;
  --fads-sys-steps-upcoming: #d2d6db;
  --fads-sys-steps-text-primary: #1f2a37;
  --fads-sys-steps-text-secondary: #384250;
  --fads-sys-steps-text-tertiary: #6c737f;
  --fads-sys-steps-disabled: #9da4ae;
  --fads-sys-steps-error: #b42318;
  --fads-sys-steps-marker-size: 32px;
  --fads-sys-steps-marker-border-width: 2px;
  --fads-sys-steps-marker-font-size: 16px;
  --fads-sys-steps-connector-thickness: 2px;
  --fads-sys-steps-label-font-size: 16px;
  --fads-sys-steps-label-line-height: 24px;
  --fads-sys-steps-description-font-size: 14px;
  --fads-sys-steps-description-line-height: 20px;
  --fads-sys-steps-text-content-gap: 4px;
  --fads-sys-steps-text-side-padding: 16px;
  --fads-sys-steps-gap: 0px;
  --fads-sys-steps-text-gap: 8px;
  --fads-sys-radius-full: 9999px;
  --fads-sys-tabs-gap: 4px;
  --fads-sys-tabs-md-padding-inline: 16px;
  --fads-sys-tabs-md-padding-block: 12px;
  --fads-sys-tabs-sm-padding-inline: 12px;
  --fads-sys-tabs-sm-padding-block: 8px;
  --fads-sys-tabs-lg-padding: 16px;
  --fads-sys-tabs-indicator-height: 3px;
  --fads-sys-tabs-indicator-color: #1b8354;
  --fads-sys-tabs-indicator-color-disabled: #9da4ae;
  --fads-sys-tabs-indicator-color-preview: #161616;
  --fads-sys-tabs-text-color-selected: #161616;
  --fads-sys-tabs-text-color-unselected: #384250;
  --fads-sys-tabs-text-color-disabled: #9da4ae;
  --fads-sys-tabs-background-hover: #f3f4f6;
  --fads-sys-tabs-background-pressed: #e5e7eb;
  --fads-sys-tabs-focus-ring-inner-width: 3px;
  --fads-sys-tabs-focus-ring-inner-color: #161616;
  --fads-sys-tabs-focus-ring-inner-radius: 2px;
  --fads-sys-tabs-focus-ring-outer-width: 1px;
  --fads-sys-tabs-focus-ring-outer-color: #ffffff;
  --fads-sys-tabs-focus-ring-outer-inset: -1px;
  --fads-sys-tabs-more-trigger-size: 32px;
  --fads-sys-tabs-list-divider-color: #d2d6db;
  --fads-sys-tabs-list-divider-height: 3px;
  --fads-sys-modal-padding: 24px;
  --fads-sys-modal-shadow: 0 32px 64px -12px rgba(16, 24, 40, 0.14);
  --fads-sys-modal-width: 600px;
  --fads-sys-modal-background: #ffffff;
  --fads-sys-modal-title-color: #1f2a37;
  --fads-sys-modal-body-color: #384250;
  --fads-sys-tabs-vertical-sm-padding-inline: 6px;
  --fads-sys-tabs-vertical-sm-padding-block: 2px;
  --fads-sys-tabs-vertical-md-padding-inline: 12px;
  --fads-sys-tabs-vertical-md-padding-block: 6px;
  --fads-sys-tabs-vertical-lg-padding-inline: 12px;
  --fads-sys-tabs-vertical-lg-padding-block: 8px;
  --fads-sys-tabs-vertical-indicator-inset-sm: 4px;
  --fads-sys-tabs-vertical-indicator-inset-md: 8px;
  --fads-sys-toast-gap: 16px;
  --fads-sys-toast-padding-inline: 24px;
  --fads-sys-toast-padding-inline-mobile: 16px;
  --fads-sys-toast-padding-block: 16px;
  --fads-sys-toast-radius: 8px;
  --fads-sys-toast-background: #ffffff;
  --fads-sys-toast-shadow: 0 32px 64px -12px rgba(16, 24, 40, 0.14);
  --fads-sys-toast-width: 484px;
  --fads-sys-toast-width-mobile: 343px;
  --fads-sys-toast-header-gap: 12px;
  --fads-sys-toast-text-gap: 4px;
  --fads-sys-toast-title-color: #1f2a37;
  --fads-sys-toast-description-color: #384250;
  --fads-sys-toast-icon-circle-size: 40px;
  --fads-sys-toast-icon-bg-neutral: #f9fafb;
  --fads-sys-toast-icon-neutral: #161616;
  --fads-sys-toast-icon-bg-info: #eff8ff;
  --fads-sys-toast-icon-info: #175cd3;
  --fads-sys-toast-icon-bg-success: #ecfdf3;
  --fads-sys-toast-icon-success: #067647;
  --fads-sys-toast-icon-bg-warning: #fffaeb;
  --fads-sys-toast-icon-warning: #b54708;
  --fads-sys-toast-icon-bg-error: #fef3f2;
  --fads-sys-toast-actions-gap: 8px;
  --fads-sys-toast-actions-padding-start: 40px;
  --fads-sys-toast-stripe-thickness: 8px;
  --fads-sys-toast-stripe-neutral: #e5e7eb;
  --fads-sys-toast-stripe-info: #1570ef;
  --fads-sys-toast-stripe-success: #079455;
  --fads-sys-toast-stripe-warning: #dc6803;
  --fads-sys-toast-stripe-error: #d92d20;
  --fads-sys-notification-gap: 16px;
  --fads-sys-notification-padding-inline: 24px;
  --fads-sys-notification-padding-block: 8px;
  --fads-sys-notification-radius: 2px;
  --fads-sys-notification-icon-size: 24px;
  --fads-sys-notification-icon-oncolor: #ffffff;
  --fads-sys-notification-tint-neutral: #f9fafb;
  --fads-sys-notification-text-neutral: #384250;
  --fads-sys-notification-solid-neutral: #161616;
  --fads-sys-notification-tint-info: #eff8ff;
  --fads-sys-notification-text-info: #175cd3;
  --fads-sys-notification-solid-info: #1570ef;
  --fads-sys-notification-tint-success: #ecfdf3;
  --fads-sys-notification-text-success: #067647;
  --fads-sys-notification-solid-success: #079455;
  --fads-sys-notification-tint-warning: #fffaeb;
  --fads-sys-notification-text-warning: #b54708;
  --fads-sys-notification-solid-warning: #dc6803;
  --fads-sys-notification-tint-error: #fef3f2;
  --fads-sys-notification-text-error: #b42318;
  --fads-sys-notification-solid-error: #d92d20;
  --fads-sys-tocitem-padding-inline-start: 16px;
  --fads-sys-tocitem-padding-inline-end: 8px;
  --fads-sys-tocitem-padding-block: 6px;
  --fads-sys-tocitem-radius: 2px;
  --fads-sys-tocitem-indicator-width: 3px;
  --fads-sys-tocitem-nesting-slot: 16px;
  --fads-sys-tocitem-nesting-bar-width: 2px;
  --fads-sys-tocitem-nesting-bar-color: var(--fads-ref-neutral-300);
  --fads-sys-tocitem-text-selected: #161616;
  --fads-sys-tocitem-text-unselected: var(--fads-ref-neutral-700);
  --fads-sys-tocitem-indicator-selected: var(--fads-ref-primary-600);
  --fads-sys-tocitem-indicator-hover: var(--fads-ref-neutral-400);
  --fads-sys-tocitem-indicator-active: var(--fads-ref-neutral-800);
  --fads-sys-tocitem-bg-hover: var(--fads-ref-neutral-100);
  --fads-sys-tocitem-bg-active: var(--fads-ref-neutral-200);
  --fads-sys-tocitem-focus-ring: #161616;
  --fads-sys-toc-gap: 8px;
  --fads-sys-toc-heading-gap: 8px;
  --fads-sys-toc-eyebrow-color: var(--fads-ref-neutral-700);
  --fads-sys-toc-title-color: var(--fads-ref-neutral-800);
  --fads-sys-toc-title-font-size: 20px;
  --fads-sys-toc-title-line-height: 30px;
  --fads-sys-headersubmenuitem-gap: 16px;
  --fads-sys-headersubmenuitem-padding-inline: 16px;
  --fads-sys-headersubmenuitem-padding-block: 8px;
  --fads-sys-headersubmenuitem-content-gap: 12px;
  --fads-sys-headersubmenuitem-row-gap: 8px;
  --fads-sys-headersubmenuitem-text: var(--fads-ref-neutral-800);
  --fads-sys-headersubmenuitem-text-oncolor: #ffffff;
  --fads-sys-headersubmenuitem-helper-text: var(--fads-ref-neutral-700);
  --fads-sys-headersubmenuitem-bg-hover: var(--fads-ref-neutral-100);
  --fads-sys-headersubmenuitem-bg-active: var(--fads-ref-neutral-200);
  --fads-sys-headersubmenuitem-bg-hover-oncolor: rgba(255, 255, 255, 0.2);
  --fads-sys-headersubmenuitem-bg-active-oncolor: rgba(255, 255, 255, 0.4);
  --fads-sys-headersubmenuitem-focus-ring: #161616;
  --fads-sys-headersubmenuitem-focus-ring-oncolor: #ffffff;
  --fads-sys-headersubmenuitem-border: var(--fads-ref-neutral-300);
  --fads-sys-headersubmenuitem-border-oncolor: rgba(255, 255, 255, 0.24);
  --fads-sys-navheadersubmenu-bg: #ffffff;
  --fads-sys-navheadersubmenu-bg-oncolor: #074d31;
  --fads-sys-navheadersubmenu-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --fads-sys-navheadersubmenu-padding-inline: 32px;
  --fads-sys-navheadersubmenu-padding-block: 32px;
  --fads-sys-navheadersubmenu-content-max-width: 1280px;
  --fads-sys-navheadersubmenu-column-gap: 24px;
  --fads-sys-navheadersubmenu-column-min-width: 240px;
  --fads-sys-navheadersubmenu-column-inner-gap: 12px;
  --fads-sys-navheadersubmenu-nav-gap: 4px;
  --fads-sys-navheadersubmenu-label-padding-inline: 16px;
  --fads-sys-navheadersubmenu-label-color: var(--fads-ref-primary-600);
  --fads-sys-navheadersubmenu-label-color-oncolor: #ffffff;
  --fads-sys-navheadersubmenu-label-font-size: 18px;
  --fads-sys-navheadersubmenu-label-line-height: 28px;
  --fads-sys-itemicon-size: 24px;
  --fads-sys-itemicon-contained-padding: 12px;
  --fads-sys-itemicon-color: #161616;
  --fads-sys-itemicon-color-oncolor: #ffffff;
  --fads-sys-itemicon-contained-bg: var(--fads-ref-primary-50);
  --fads-sys-itemicon-contained-bg-oncolor: rgba(255, 255, 255, 0.1);
  --fads-sys-secondnavheader-height: 40px;
  --fads-sys-secondnavheader-padding-inline: 32px;
  --fads-sys-secondnavheader-items-gap: 16px;
  --fads-sys-secondnavheader-item-gap: 4px;
  --fads-sys-secondnavheader-actions-gap: 6px;
  --fads-sys-secondnavheader-icon-size: 24px;
  --fads-sys-secondnavheader-bg-gray: var(--fads-ref-neutral-100);
  --fads-sys-secondnavheader-bg-primary: var(--fads-ref-primary-600);
  --fads-sys-secondnavheader-text-gray: var(--fads-ref-neutral-700);
  --fads-sys-secondnavheader-text-primary: #ffffff;
  --fads-sys-secondnavheader-divider-gray: var(--fads-ref-neutral-300);
  --fads-sys-secondnavheader-divider-primary: rgba(255, 255, 255, 0.3);
  --fads-sys-listitem-gap: 8px;
  --fads-sys-listitem-indent-level2: 24px;
  --fads-sys-listitem-icon-size: 16px;
  --fads-sys-listitem-text-primary: var(--fads-ref-primary-600);
  --fads-sys-listitem-text-neutral: #161616;
  --fads-sys-listitem-text-oncolor: #ffffff;
  --fads-sys-list-gap: 0px;
  --fads-ref-space-0: 0;
  --fads-ref-space-1: 0.25rem;
  --fads-ref-space-2: 0.5rem;
  --fads-ref-space-3: 0.75rem;
  --fads-ref-space-4: 1rem;
  --fads-ref-space-5: 1.5rem;
  --fads-ref-space-6: 2rem;
  --fads-ref-space-7: 2.5rem;
  --fads-ref-space-8: 3rem;
  --fads-ref-space-9: 4rem;
  --fads-ref-radius-sm: 4px;
  --fads-ref-radius-md: 8px;
  --fads-ref-radius-lg: 16px;
  --fads-ref-radius-pill: 9999px;
  --fads-ref-font-family-base: 'IBM Plex Sans Arabic', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --fads-ref-font-weight-regular: 400;
  --fads-ref-font-weight-medium: 500;
  --fads-ref-font-weight-semibold: 600;
  --fads-ref-font-weight-bold: 700;
  --fads-ref-font-size-2xs: 0.625rem;
  --fads-ref-font-size-xs: 0.75rem;
  --fads-ref-font-size-sm: 0.875rem;
  --fads-ref-font-size-md: 1rem;
  --fads-ref-font-size-lg: 1.125rem;
  --fads-ref-font-size-xl: 1.5rem;
  --fads-ref-font-size-2xl: 2rem;
  --fads-ref-font-size-3xl: 2.5rem;
  --fads-ref-line-height-tight: 1.25;
  --fads-ref-line-height-normal: 1.5;
  --fads-ref-line-height-relaxed: 1.75;
  --fads-sys-color-background-default: var(--fads-ref-neutral-25);
  --fads-sys-color-background-subtle: var(--fads-ref-neutral-50);
  --fads-sys-color-background-raised: var(--fads-ref-neutral-25);
  --fads-sys-color-background-inverse: var(--fads-ref-neutral-900);
  --fads-sys-color-text-default: var(--fads-ref-neutral-900);
  --fads-sys-color-text-muted: var(--fads-ref-neutral-600);
  --fads-sys-color-text-inverse: var(--fads-ref-neutral-25);
  --fads-sys-color-text-link: var(--fads-ref-primary-600);
  --fads-sys-color-border-default: var(--fads-ref-neutral-200);
  --fads-sys-color-border-strong: var(--fads-ref-neutral-400);
  --fads-sys-color-border-focus: var(--fads-ref-primary-600);
  --fads-sys-color-primary: var(--fads-ref-primary-500);
  --fads-sys-color-primary-strong: var(--fads-ref-primary-600);
  --fads-sys-color-status-success: var(--fads-ref-success-500);
  --fads-sys-color-status-error: var(--fads-ref-error-500);
  --fads-sys-color-status-warning: var(--fads-ref-warning-500);
  --fads-sys-color-status-information: var(--fads-ref-information-500);
  --fads-sys-color-on-color-text: var(--fads-ref-neutral-25);
  --fads-sys-color-on-color-border: var(--fads-ref-neutral-25);
  --fads-sys-space-inset-xs: var(--fads-ref-space-1);
  --fads-sys-space-inset-sm: var(--fads-ref-space-2);
  --fads-sys-space-inset-md: var(--fads-ref-space-4);
  --fads-sys-space-inset-lg: var(--fads-ref-space-6);
  --fads-sys-space-stack-xs: var(--fads-ref-space-1);
  --fads-sys-space-stack-sm: var(--fads-ref-space-2);
  --fads-sys-space-stack-md: var(--fads-ref-space-4);
  --fads-sys-space-stack-lg: var(--fads-ref-space-6);
  --fads-sys-space-inline-sm: var(--fads-ref-space-2);
  --fads-sys-space-inline-md: var(--fads-ref-space-4);
  --fads-sys-space-inline-lg: var(--fads-ref-space-6);
  --fads-sys-space-section-gap: var(--fads-ref-space-9);
  --fads-sys-radius-sm: var(--fads-ref-radius-sm);
  --fads-sys-radius-md: var(--fads-ref-radius-md);
  --fads-sys-radius-lg: var(--fads-ref-radius-lg);
  --fads-sys-radius-pill: var(--fads-ref-radius-pill);
  --fads-sys-font-family-base: var(--fads-ref-font-family-base);
  --fads-sys-typography-display-xl: var(--fads-ref-font-size-3xl);
  --fads-sys-typography-display-lg: var(--fads-ref-font-size-2xl);
  --fads-sys-typography-display-md: var(--fads-ref-font-size-xl);
  --fads-sys-typography-text-lg: var(--fads-ref-font-size-lg);
  --fads-sys-typography-text-md: var(--fads-ref-font-size-md);
  --fads-sys-typography-text-sm: var(--fads-ref-font-size-sm);
  --fads-sys-typography-text-xs: var(--fads-ref-font-size-xs);
  --fads-sys-typography-text-2xs: var(--fads-ref-font-size-2xs);
  --fads-sys-motion-duration-instant: 75ms;
  --fads-sys-motion-duration-fast: 150ms;
  --fads-sys-motion-duration-base: 225ms;
  --fads-sys-motion-duration-slow: 325ms;
  --fads-sys-motion-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --fads-sys-motion-easing-entrance: cubic-bezier(0, 0, 0.2, 1);
  --fads-sys-motion-easing-exit: cubic-bezier(0.4, 0, 1, 1);
  --fads-sys-z-base: 0;
  --fads-sys-z-dropdown: 1000;
  --fads-sys-z-sticky-header: 1100;
  --fads-sys-z-drawer: 1200;
  --fads-sys-z-modal: 1300;
  --fads-sys-z-toast: 1400;
  --fads-sys-z-tooltip: 1500;
  --fads-sys-focus-ring-width: 2px;
  --fads-sys-focus-ring-offset: 2px;
  --fads-sys-focus-ring-color: var(--fads-sys-color-border-focus);
  --fads-sys-control-gap: var(--fads-ref-space-2);
}
